/**
 * @name Frosted Glass
 * @author Gibbu#1211
 * @version 2.2.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required.
 * @invite ZHthyCw
 * @authorId 174868361040232448
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @website https://gibbu.me/
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");
:root {
  /*
   * Background image variables
   */
  --background-image: url("https://i.imgur.com/kYW2H5C.jpg"); /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-blur: 5px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
  --background-image-size: cover; /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
  --background-image-position: center; /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
  /*
   * User Popout variables
   * This will only affect the user profile (when clicking on a member in the members list)
   */
  --popout-image: var(--background-image); /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --popout-image-blur: 5px; /* Blur intensity of --popout-image | Must end in px | DEFAULT: 5px */
  --popout-image-size: cover; /* Size of the popout/modal image | DEFAUT: cover | OPTIONS: cover, contain */
  --popout-image-position: center; /* Position of popout/modal image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
  /*
   * Modal & Popout variables
   */
  --overlay-image: var(--background-image); /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --overlay-image-blur: var(--background-image-blur); /* Blur intensity of --overlay-image | Must end in px | DEFAULT: 5px */
  --overlay-image-size: var(--background-image-size); /* Size of the popout/modal image | DEFAUT: cover | OPTIONS: cover, contain */
  --overlay-image-position: var(--background-image-position); /* Position of popout/modal image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
  /*
   * Home image variables
   */
  --home-button-image: url("https://discordstyles.github.io/FrostedGlass/discord.svg"); /* Home button image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --home-button-size: 60%; /* Size of the home button image | DEFAUT: cover */
  --home-button-position: center; /* Position of home button image | DEAFULT: center */
  /*
   * Brightness variables
   */
  --serverlist-brightness: 0.8; /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --left-brightness: 0.8; /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --middle-brightness: 0.6; /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
  --right-brightness: 0; /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0 */
  --overlay-brightness: 0.75; /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.75 */
  /*
   * Gradient variables
   */
  --gradient-primary: 103, 58, 183; /* DEFAULT: 103,58,183 */
  --gradient-secondary: 63, 81, 181; /* DEFAULT: 63,81,181 */
  --gradient-direction: 320deg; /* DEFAULT: 320deg */
  /*
   * Tint variables
   */
  --tint-colour: 255, 51, 159; /* Colour of tint | DEAFULT: 255,51,159 */
  --tint-brightness: 0; /* Brightness of --tint-colour | 0 - 1 (decimals allowed) | DEFAULT: 0 */
  /*
   * Other variables 
   */
  --window-padding: 20px; /* Spacing around the Discord window | DEFAULT: 20px */
  --window-roundness: 10px; /* Roundness of Discord | DEFAULT: 10px */
  --scrollbar-colour: rgb(255, 255, 255, 0.05); /* DEFAULT: rgb(255,255,255,0.05) */
  --link-colour: #00b0f4; /* DEFAULT: #00b0f4 */
  /*
    * Visit https://fonts.google.com and select one to your liking.
    * Now just follow this tutorial: https://imgur.com/a/CNbw7xC
    */
  --font: "gg sans";
  /*
   * ~~DO NOT TOUCH~~
   * Removing this will display an annoying update banner.
   */
  --update-notice-1: none;
}