#app-mount {
  .wrapper-1gVUIN.minimum-fXpVNc {
    background: var(--background-secondary);
  }
  .centerButton-3CaNcJ {
    background: var(--white);
    &:hover {
      background: var(--white-double);
    }
  }
  .controlButton-2PMNom.leaveButton-2YnTyt {
    background: rgba(var(--discord-red), .5);
    &:hover {
      background: rgb(var(--discord-red));
    }
  }
  .quickSelect-384d3G {
    margin-top: 10px;
  }
}