#app-mount .form-2fGMdU {
  margin-top: 0;
  .attachButton-2WznTc {
    padding: 10px;
  }
  .placeholder-37qJjk,
  .slateTextArea-1Mkdgw {
    padding-left: 5px;
  }
  .buttonWrapper-1ZmCpA.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.noFocus-2C7BQj {
    display: var(--show-gift-gif-buttons);
  }
}