#app-mount {
  .content-1jQy2l:before {
    content: none;
  }
  .chat-2ZfjoI {
    background: rgba(0,0,0,var(--middle-brightness));
  }
  .messages-3amgkR {
    background-color: transparent;
    text-shadow: 0 2px 5px rgba(0,0,0,var(--text-shadow));
  }
  .newMessagesBar-1hF-9G {
    background: var(--gradient);
    opacity: 1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }
  .jumpToPresentBar-1cEnH0 {
    border-radius: 8px;
    background-color: var(--white-double);
    padding-bottom: 0;
    bottom: 10px;
    &:hover {
      background-color: var(--white-triple);
    }
  }
}