#app-mount .divider-2rZFJK {
  border: none;
  .content-3spvdd {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--text-muted);
    &:before, &:after {
      content: "";
      flex: 1;
      height: 1px;
      display: block;
      background: var(--background-modifier-accent);
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
  &.isUnread-3Lojb- {
    border-top: 1px solid rgb(var(--discord-red));
  }
}