#app-mount {
  .containerDefault--pIXnN {
    // Unread
    .modeUnread-1qO3K1 .content-1x5b-n {
      background: var(--white);
    }
    // Hover
    .wrapper-1ucjTd:hover .content-1x5b-n {
      background: var(--background-modifier-hover);
      .icon-1DeIlz {
        color: var(--interactive-hover);
      }
    }
    // Selected
    &.selected-3LIHYU .content-1x5b-n {
      background: var(--gradient) !important;
      .icon-1DeIlz {
        color: var(--text-normal);
      }
    }
  }
  .users-i_3-kL {
    background: var(--white);
    padding: 0 5px;
    width: auto;
  }
  .total-3tKGEB {
    background: var(--white-double);
    padding: 0 5px;
    width: auto;
  }
  .containerUserOver-2mv1jO:after {
    background: var(--gradient-20);
    border: 2px solid rgb(var(--gradient-primary));
  }
}