#app-mount {
  .containerDefault-YUSmu3 {
    // Unread
    .modeUnread-3Cxepe .content-1gYQeQ {
      background: var(--white);
    }
    // Hover
    .wrapper-1ucjTd:hover .content-1gYQeQ {
      background: var(--background-modifier-hover);
      .icon-2W8DHg {
        color: var(--interactive-hover);
      }
    }
    // Selected
    &.selected-2TbFuo .content-1gYQeQ {
      background: var(--gradient) !important;
      .icon-2W8DHg {
        color: var(--text-normal);
      }
    }
  }
  .users-i_3-kL {
    background: var(--white);
    padding: 0 5px;
    width: auto;
  }
  .total-3tKGEB {
    background: var(--white-double);
    padding: 0 5px;
    width: auto;
  }
  .containerUserOver-SDa1HW:after {
    background: var(--gradient-20);
    border: 2px solid rgb(var(--gradient-primary));
  }
}