#app-mount .sidebar-1tnWFu {
  border-radius: 0;
  background: rgba(0,0,0,var(--left-brightness));
  .container-1NXEtd,
  .privateChannels-oVe7HL,
  .scroller-WSmht3 {
    background-color: transparent;
  }
  [role="list"] > div[style="width: 100%; height: 84px; visibility: hidden;"] {
    height: 120px !important;
  }
}