#app-mount {
  .header-2o-2hj {
    background: transparent;
    box-shadow: none;
  }
  .animatedContainer-1pJv5C {
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%) !important;
    top: 48px;
    background: transparent;
  }
}