#app-mount {
  .panels-3wFtMD {
    background: transparent;
    .lookFilled-1Gx00P.colorBrand-3pXr91 {
      background: var(--white);
      &:hover {
        background: var(--white-double);
      }
      &:active {
        background: var(--white-triple);
      }
    }
  }
  .container-1zzFcN {
    border-bottom: none;
  }
}