@use '@discordstyles/classes' as *;

#{cls('mount')} {
	//#region Settings
	#{cls('settings.layer')} {
		#{cls('settings.sidebar.wrapper')} {
			top: 0;
		}

		#{cls('settings.sidebar.scroller')} {
			background-color: rgb(0, 0, 0, var(--left-brightness));
		}

		//TODO: Style the headers, descriptions and labels, the old was too broken and inconsistent

		#{cls('settings.sidebar.info settings.sidebar.infoLine')}:first-child::before {
			content: var(--version);
			display: block;
		}
	}
	//#endregion Settings
}
