#app-mount .layer_e552e0:not(.baseLayer__13b6b) {
	.standardSidebarView__1129a {
		top: 0;
	}
	.sidebarRegionScroller__1fa7e {
		background-color: rgb(0, 0, 0, var(--left-brightness));
	}
	.multiInput-1e2xJ7 .input-2g-os5 {
		background: transparent;
	}
	.description-3_Ncsb,
	.h5-18_1nd:not(.isEnabled-2qCZy8),
	.labelDescriptor-1PqHgD,
	.viewBody-2Qz-jg {
		color: var(--text-normal);
	}

	.info__755e1 .colorMuted-20987_:first-child::before {
		content: var(--version);
		display: block;
	}
}
