#app-mount {
	.layer_d4b6c5 {
		top: var(--window-padding);
		right: var(--window-padding);
		bottom: var(--window-padding);
		left: var(--window-padding);
		padding-top: 0;
		overflow: hidden;
		border-radius: var(--window-roundness);
	}
	// Container shadow
	.base_a4d4d9::before {
		content: '';
		position: absolute;
		height: 5px;
		width: 100%;
		background: linear-gradient(rgb(0, 0, 0, 0.2), transparent);
		z-index: 1;
		top: 48px;
		pointer-events: none;
		user-select: none;
	}
	// Bot tags
	.botTagRegular_c89c9a {
		background: var(--gradient);
		color: var(--text-normal);
		margin-top: 0;
	}
	.botText_a9e77f {
		font-weight: 600;
	}
	.botTagInvert-18-95s {
		color: rgb(var(--gradient-primary));
		.botText_a9e77f {
			font-weight: bold;
		}
	}
}

//Globally fix scrollerbase getting its overflow set to hidden from the backgrounds
//we need a really powerful selector for this
html body #app-mount .scrollerBase_c49869 {
	overflow-y: scroll !important;
}

::selection {
	background: rgb(var(--gradient-primary));
	color: var(--text-normal);
}
// Update notice
#app-mount .app_a01fb1::before {
	content: 'Your version of Frosted Glass is outdated. Please redownload';
	white-space: pre-wrap;
	display: var(--update-notice-1, block);
	color: #fff;
	text-align: center;
	padding: 10px 0;
	box-sizing: border-box;
	background: rgb(var(--discord-blurple), 0.7);
	text-shadow: 0 2px 3px rgb(0, 0, 0, var(--text-shadow));
}
