#app-mount {
	.bg-1QIAus {
		top: -22px;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--background-image);
		background-position: var(--background-image-position, center);
		background-size: var(--background-image-size, cover);
		&::before {
			content: '';
			position: absolute;
			top: calc(var(--window-padding) + 22px);
			right: var(--window-padding);
			bottom: var(--window-padding);
			left: var(--window-padding);
			border-radius: var(--window-roundness);
			backdrop-filter: blur(var(--background-image-blur));
			box-shadow: inset 0 0 0 100vmax var(--tint);
			display: var(--background-blur-visiblity, block);
		}
	}
	[role='menu'],
	.autocompleteInner-y1mjDl,
	.container-2McqkF,
	.container-enaOkj,
	.container-8Futzw,
	.contextMenu-HLZMGh:not(.scroller-2FKFPG),
	.emojiPicker-6YCk8a,
	.messagesPopoutWrap-3zryHW,
	.modal-2RrUKJ:not(.slide-2pHaq5),
	.root-1gCeng:not(.fullscreenOnMobile-1bD22y),
	.root-8LYsGj,
	.subMenuContext-2n_9YM .scrollerWrap-2lJEkd,
	section.positionContainer-3unAXC .drawerSizingWrapper-27qFHb,
	.quickswitcher-pKcM9U,
	.root-1gCeng.wrapper-2ZbzR9,
	.modalRoot-1Kx4Hb,
	.container-3JTnYm.thin-1ybCId.scrollerBase-_bVAAt,
	.popoutContainer-2wbmiM,
	.userProfileModalOuter-1FYL8T,
	.container-2O1UgZ,
	.container-18GwIk,
	.popout-TdhJ6Z,
	.reactionTooltip-3IOBwg,
	.picker-20lcBA,
	.container-3a5mk-,
	.popout-VbwYm1,
	.popout-15UxD6 {
		overflow: hidden !important;
		position: relative;
		border-radius: 3px;
		&::before {
			content: '';
			background: linear-gradient(var(--tint), var(--tint)), var(--fb-overlay-image);
			background-position: var(--fb-overlay-position, center);
			background-size: var(--fb-overlay-size, cover);
			background-attachment: var(--fb-overlay-attachment, fixed);
			background-repeat: var(--fb-overlay-repeat, no-repeat);
			box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0, var(--overlay-brightness, var(--popout-modal-brightness)));
			height: calc(100% + var(--fb-overlay-blur) * 5);
			width: calc(100% + var(--fb-overlay-blur) * 5);
			top: calc(var(--fb-overlay-blur) / -1 * 2.5);
			left: calc(var(--fb-overlay-blur) / -1 * 2.5);
			position: absolute;
			filter: blur(var(--fb-overlay-blur));
			transform: translate(var(--fb-overlay-blur) / -1, calc(var(--fb-overlay-blur) / -1));
			pointer-events: none;
			user-select: none;
			z-index: -1;
		}
	}
}
