#app-mount {
	.notice__5fd4c {
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0;
		box-shadow: none;
		padding-right: var(--TB-header-padding, 12px);
		.button__33db6 {
			top: 0;
			background: var(--foreground);
			border-color: transparent;
			color: #fff;
			&:hover {
				background: var(--foreground-double);
			}
			&:active {
				background: var(--foreground-triple);
			}
		}
	}
	.closeButton__90904 {
		right: unset;
		left: 0;
		height: 48px;
	}
	.noticeStreamerMode-2TSQpg {
		background: rgb(var(--discord-twitch), 0.6);
	}
}
