#app-mount {
	.tooltip__382e7 {
		color: var(--text-normal);
		text-align: center;
		font-weight: 600;
	}
	.tooltipPrimary__382e7 {
		background: var(--gradient);
		.tooltipPointer__382e7 {
			display: none;
		}
	}
}
