#app-mount {
	.tooltip__7b090 {
		color: var(--text-normal);
		text-align: center;
		font-weight: 600;
	}
	.tooltipPrimary__51b23 {
		background: var(--gradient);
		.tooltipPointer_f7411c {
			display: none;
		}
	}
}
