#app-mount .title_f75fb0 {
	background: transparent;
	.searchBar__97492 {
		border: none;
		background: var(--background-secondary);
	}
	.children__9293f::after {
		content: none;
	}
}

// Makes the top bar more easily grabbable
.titleBar__421ed {
	height: 20px !important;
	-webkit-app-region: drag;
	pointer-events: none;
	top: 0;
}
