#app-mount .title_a7d72e {
	background: transparent;
	.searchBar_a46bef {
		background: var(--background-secondary);
	}
	.children_fc4f04::after {
		content: none;
	}
}

// Makes the top bar more easily grabbable
.titleBar_a934d8 {
	height: 20px !important;
	-webkit-app-region: drag;
	pointer-events: none;
	top: 0;
}

