#app-mount .guilds-2JjMmN {
	background-color: transparent;
	.scrollerBase-1Pkza4 {
		background-color: rgb(0, 0, 0, var(--serverlist-brightness));
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
