#app-mount .guilds_c48ade {
	background-color: transparent;
	.footer__214dc {
		background-color: rgb(0, 0, 0, var(--serverlist-brightness));
	}
	.scrollerBase_d125d2 {
		background-color: rgb(0, 0, 0, var(--serverlist-brightness));
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
