#app-mount .guilds__2b93a {
	background-color: transparent;
	.scrollerBase__2b744 {
		background-color: rgb(0, 0, 0, var(--serverlist-brightness));
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
