#app-mount .guilds__2b93a {
	// Home button
	.tutorialContainer__890ea {
		.childWrapper__01b9c {
			background: var(--gradient);
			background-color: transparent;
		}
		.listItem_fa7b36:first-child .wrapper_d281dd {
			&::before {
				content: '';
				border-radius: 50%;
				position: absolute;
				background: var(--home-button-image, url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg'));
				background-size: var(--home-button-size, cover);
				background-position: var(--home-button-position, center);
				background-repeat: var(--home-button-repeat, no-repeat);
				height: 100%;
				width: 100%;
				transition: 0.2s ease;
			}
			&.selected_f5ec8e::before {
				border-radius: 30%;
			}
		}
		.homeIcon__00b1b {
			display: none;
		}
	}
	.selected_f5ec8e .acronym_cd4809 {
		background: var(--foreground-double);
	}
	// No icon
	.acronym_cd4809 {
		background: var(--foreground);
		&:hover {
			background: var(--foreground-double);
		}
	}
	// Add server/Discovery
	[class*='circleIconButton'] {
		background: var(--foreground);
		color: rgb(var(--gradient-primary));
		&.selected-ugP_am,
		&:hover {
			background: var(--foreground-double);
			color: var(--text-normal);
		}
	}
}
