#app-mount .content__4bf10 {
	.discoverHeader-1TWTqG {
		margin: 0 0 10px;
		height: 48px;
		display: flex;
		align-items: center;
		padding-left: 10px;
	}
	.categoryItem-3zFJns {
		&.selected__9800b .itemInner-3gVXMG {
			background: var(--gradient);
		}
	}
	.pageWrapper_fef757 {
		background: rgb(0, 0, 0, var(--middle-brightness));
		.scrollerWrap-2lJEkd {
			margin-top: 48px;
			margin-bottom: 48px;
		}
	}
	.card__86773 {
		background: var(--background-secondary);
		&:hover {
			box-shadow: none;
		}
	}
	.footer-26kPv_ {
		opacity: 0;
		pointer-events: none;
	}
}
