#app-mount .container_bd15da {
	background: rgb(0, 0, 0, var(--middle-brightness));
	.inset__61d5b {
		background-color: var(--background-secondary);
	}
	.itemCard_b64118:hover {
		background: var(--foreground);
	}
	.nowPlayingColumn_b025fe {
		background: rgb(0, 0, 0, var(--right-brightness));
	}
	.scroller__7c25e {
		border: none;
	}
}
