#app-mount .container__133bf {
	background: rgb(0, 0, 0, var(--middle-brightness));
	.inset_bf1984 {
		background-color: var(--background-secondary);
	}
	.itemCard__7e549:hover {
		background: var(--foreground);
	}
	.nowPlayingColumn__133bf {
		background: rgb(0, 0, 0, var(--right-brightness));
	}
	.scroller__7d20c {
		border: none;
	}
}
