#app-mount .root-1gCeng {
  box-shadow: none;
  background: transparent;
  .colorHeaderPrimary-26Jzh- {
    color: #fff;
  }
  .colorHeaderSecondary-3Sp3Ft {
    color: #ddd;
  }
  .container-UC8Ug1,
  .lookFilled-1Gx00P.colorGrey-2DXtkV {
    background: rgb(255 255 255 / .1);
    &:hover {
      background: rgb(255 255 255 / .15);
    }
  }
  .colorStandard-2KCXvj {
    color: #fff;
  }
  .footer-2gL1pp {
    background: rgb(0 0 0 / 0.2);
  }
  .backButton-iA7KIs {
    color: #ddd;
    &:hover {
      color: #fff;
    }
  }
  .input--jS-j2 {
    background: transparent;
  }
  .input-cIJ7To {
    background: rgb(255 255 255 / 0.1);
    color: #fff;
  }
  .sampleLink-2NLvZg {
    color: #ddd;
  }
}