#app-mount .root-1gCeng {
  box-shadow: none;
  background: transparent;
  .colorHeaderPrimary-jN_yGr {
    color: #fff;
  }
  .colorHeaderSecondary-g5teka {
    color: #ddd;
  }
  .container-UC8Ug1,
  .lookFilled-1Gx00P.colorGrey-2DXtkV {
    background: rgb(255 255 255 / .1);
    &:hover {
      background: rgb(255 255 255 / .15);
    }
  }
  .colorStandard-21JIj7 {
    color: #fff;
  }
  .footer-2gL1pp {
    background: rgb(0 0 0 / 0.2);
  }
  .backButton-iA7KIs {
    color: #ddd;
    &:hover {
      color: #fff;
    }
  }
  .input--jS-j2 {
    background: transparent;
  }
  .input-2g-os5 {
    background: rgb(255 255 255 / 0.1);
    color: #fff;
  }
  .sampleLink-2NLvZg {
    color: #ddd;
  }
}