#app-mount .modalRoot-1Kx4Hb {
  .header-1TKi98 {
    padding-top: 150px;
  }
  .art-347BZj {
    position: absolute;
    transform: translate(-50%, 20px);
    width: 150px;
  }
  .header-3C6qT5 {
    padding-top: 0;
  }
}