#app-mount {
  .modal-3c3bKg {
    transform: scale(1) translateZ(0px) !important;
    animation: fadeInTop 0.3s ease forwards !important;
  }
  .modal-2RrUKJ {
    background-color: transparent;
    box-shadow: none;
    .cardWarning-2yPNAa {
      background-color: rgba(var(--discord-yellow), 0.2);
      border: 2px solid rgb(var(--discord-yellow));
    }
    .footer-1Ip3Sd {
      box-shadow: none;
      background: var(--background-secondary);
    }
  }
  .footer-2gL1pp {
    background: var(--background-secondary);
    box-shadow: none;
  }
}