#app-mount .quickswitcher-pKcM9U {
  box-shadow: none;
  padding: 20px;
  .scrollerOuter-3FLELE {
    margin-top: 10px;
    margin-right: 0;
    border-radius: 3px;
  }
  .scroller-2qwVWY {
    padding: 10px 5px 10px 10px;
    box-sizing: border-box;
    & > div[style*="width: 100%;"] {
      display: none;
    }
  }
  .protip-1jXzAl {
    display: none;
  }
}