#app-mount .root-8LYsGj {
  background: transparent;
  .topSectionNormal-2-vo2m {
    background: var(--background-secondary);
  }
  .topSectionSpotify-1lI0-P {
    background: rgba(var(--discord-spotify), 0.3);
  }
  .topSectionPlaying-1J5E4n {
    background: var(--gradient-50);
  }
  .topSectionStreaming-1Tpf5X {
    background: rgba(var(--discord-twitch), 0.3);
  }
  .topSectionXbox-3fWLjS {
    background: rgba(var(--discord-xbox), 0.3);
  }
  .svg-2azL_l {
    z-index: 1;
  }
  .body-3ND3kc {
    background: transparent;
  }
  .tabBarContainer-1s1u-z {
    border: none;
  }
  .userInfoSection-2acyCx {
    border: none;
  }
  .connectedAccount-36nQx7 {
    background: var(--background-secondary);
    border: none;
  }
}