#app-mount {
	.container_f79ab4 {
		background: transparent;
	}
	.membersWrap__5ca6b {
		background-color: rgb(0, 0, 0, var(--right-brightness));
	}
	.members__573eb {
		background: transparent;
		& > div {
			background: transparent;
		}
	}
}
