#app-mount {
	.container_b2ce9c {
		background: transparent;
	}
	.membersWrap__90226 {
		background-color: rgb(0, 0, 0, var(--right-brightness));
	}
	.members__9f47b {
		background: transparent;
		& > div {
			background: transparent;
		}
	}
}
