#app-mount {
	.container_c8ffbb {
		border: none;
		background: transparent;
	}
	.membersWrap_c8ffbb {
		background-color: rgb(0, 0, 0, var(--right-brightness));
	}
	.members_c8ffbb {
		background: transparent;
		& > div {
			background: transparent;
		}
	}
}
