#app-mount {
	.container_cbd271 {
		background: transparent;
	}
	.membersWrap_cbd271 {
		background-color: rgb(0, 0, 0, var(--right-brightness));
	}
	.members_cbd271 {
		background: transparent;
		& > div {
			background: transparent;
		}
	}
}
