#app-mount .member__5d473 {
	background: transparent;
	&.selected__91a9d {
		.childContainer__91a9d{
			background: var(--gradient);
		}
		.layout__91a9d {
			background: var(--gradient);
		}
		.roleColor-nA7BqX {
			color: var(--text-normal) !important;
		}
		.botTagRegular_c89c9a {
			background: var(--text-normal);
			color: rgb(var(--gradient-primary));
			margin-top: 0;
		}
		.botText__82f07 {
			font-weight: 900;
		}
		.premiumIcon-1rDbWQ {
			color: var(--text-normal);
		}
		.username_d272d6,
		.activity__5d473 {
			color: #fff !important;
		}
	}
}
