#app-mount .member_a31c43 {
	background: transparent;
	&.selected_d808b0 {
		.layout_d808b0 {
			background: var(--gradient);
		}
		.roleColor-nA7BqX {
			color: var(--text-normal) !important;
		}
		.botTagRegular_c89c9a {
			background: var(--text-normal);
			color: rgb(var(--gradient-primary));
			margin-top: 0;
		}
		.botText_a9e77f {
			font-weight: 900;
		}
		.premiumIcon-1rDbWQ {
			color: var(--text-normal);
		}
		.username_d272d6,
		.activity_a31c43 {
			color: #fff !important;
		}
	}
}
