#app-mount .autocomplete-1vrmpx {
  box-shadow: none;
  .selectorSelected-1_M1WV {
    background: var(--white);
  }
  .divider-23swzi {
    background-color: var(--white);
  }
  .description-11DmNu,
  .descriptionUsername-J_75O8 {
    color: var(--text-normal);
  }
  .descriptionDiscriminator-3vUOCc {
    color: var(--text-muted);
  }
}