#app-mount .autocomplete-3NRXG8 {
  box-shadow: none;
  .selectorSelected-1_M1WV {
    background: var(--white);
  }
  .divider-1bJsnZ {
    background-color: var(--white);
  }
  .description-11DmNu,
  .descriptionUsername-J_75O8 {
    color: var(--text-normal);
  }
  .descriptionDiscriminator-tCKMLV {
    color: var(--text-muted);
  }
}