#app-mount {
  [role="menu"] {
    box-shadow: none;
    animation: fadeIn 0.3s ease forwards;
  }
  .focused-3afm-j .check-1JyqgN {
    color: #fff;
  }
  .button-F9qN4n {
    background: var(--white);
    &.focused-3ZzkKr {
      background: var(--white-double);
      box-shadow: 0 0 0 2px rgb(var(--gradient-primary));
    }
  }
}