#app-mount .drawerSizingWrapper-27qFHb {
  right: 0;
  position: absolute !important;
  .nav-2KnmHb {
    position: absolute;
    padding: 0 0 0 13px;
    top: 16px;
    z-index: 999;
  }
  [class*="searchBar"] {
    background: var(--background-secondary);
    margin-left: 105px;
  }
  .contentWrapper-2txmjs {
    display: grid;
    grid-template-rows: auto;
    background: transparent;
  }
  [aria-selected="true"] .navButton-3Mnpqt {
    background: var(--gradient);
  }
  .navButton-3Mnpqt {
    background: var(--white);
    padding: 6px 5px 7px;
  }
  // GIFs
  .categoryFadeBlurple-1HuV1x {
    background: var(--gradient-90);
  }
  .focused-q9B2e4:after,
  .result-3OpoO7:hover:after {
    box-shadow: inset 0 0 0 2px rgb(var(--gradient-primary));
  }
  .result-3OpoO7 {
    background-color: var(--white) !important;
  }
  // Emoji
  .emojiItemSelected-2Lg50V {
    background: var(--white-double);
  }
  .categoryWrapper-UZ5YNj {
    background: var(--background-secondary);
  }
  .category-3Xkx2x {
    color: var(--text-normal);
  }
}
.emojiPicker-6YCk8a {
  box-shadow: none;
  background: transparent;
  animation: fadeIn 0.3s ease forwards;
  [class*="header"] {
    box-shadow: none;
  }
  .searchBar-2M9mRP {
    background: var(--background-secondary);
  }
}