#app-mount {
  .container-enaOkj {
    background: var(--background-secondary);
    margin: 0 10px 10px;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
  }
  .channelHeader-DFRX8q {
    background: transparent;
    padding: 15px 15px 0;
    height: auto;
    position: static;
    .tertiary-1e-lAP,
    .item-3XjbnG.selected-g-kMVV {
      background: var(--white);
      &:hover {
        background: var(--white-double);
      }
    }
  }
  .container-iA3Qrz {
    margin: 0 16px 16px;
    padding: 0;
    border-radius: 3px;
    box-sizing: border-box;
    background: var(--white);
  }
  .messageContainer-3VTXBC {
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
  }
}