#app-mount #guild-header-popout {
  .item-1tOPte {
    &.colorPremium-p4p7qO {
      color: rgb(var(--discord-nitro));
      .icon-LYJorE {
        color: rgb(var(--discord-nitro));
      }
    }
    &.colorBrand-ROmMP1 {
      color: rgb(var(--discord-blurple));
      .icon-LYJorE {
        color: rgb(var(--discord-blurple));
      }
    }
    &.colorDanger-2qLCe1 {
      color: rgb(var(--discord-red));
      .icon-LYJorE {
        color: rgb(var(--discord-red));
      }
    }
  }
}