#app-mount .content-1SgpWY {
  .discoverHeader-1TWTqG {
    margin: 0 0 10px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .categoryItem-3zFJns {
    &.selected-1-Z6gm .itemInner-3gVXMG {
      background: var(--gradient);
    }
  }
  .pageWrapper-2PwDoS {
    background: rgba(0,0,0,var(--middle-brightness));
    .scrollerWrap-2lJEkd {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }
  .card-2TuZPZ {
    background: var(--background-secondary);
    &:hover {
      box-shadow: none;
    }
  }
  .footer-26kPv_ {
    opacity: 0;
    pointer-events: none;
  }
}