#app-mount .container-1D34oG {
  background: rgba(0,0,0,var(--middle-brightness));
  .inset-3sAvek {
    background-color: var(--background-secondary);
  }
  .itemCard-v9viV7:hover {
    background: var(--white);
  }
  .nowPlayingColumn-2sl4cE {
    background: rgba(0,0,0,var(--right-brightness));
  }
}