#app-mount .container-2cd8Mz {
  background: rgba(0,0,0,var(--middle-brightness));
  .inset-SbsSFp {
    background-color: var(--background-secondary);
  }
  .itemCard-3Etziu:hover {
    background: var(--white);
  }
  .nowPlayingColumn-1eCBCN {
    background: rgba(0,0,0,var(--right-brightness));
  }
}