#app-mount {
  .perksModal-fSYqOq {
    background-color: rgba(0,0,0,var(--middle-brightness));
    background-image: none;
    margin: var(--window-padding);
    border-radius: var(--window-roundness);
  }
  .tierWrapper-W9ajqp {
    box-shadow: none !important;
  }
  .ctaBar-2UsjF2,
  .tier-12tKuZ {
    background: var(--background-secondary);
  }
  .tierHeader---JJFb {
    background-color: var(--background-secondary);
    color: var(--text-normal);
  }
  .tierLock-3CSxSX {
    color: var(--text-normal);
  }
  .tierBody-16Chc9 {
    background: transparent;
  }
  .perk-2WeBWW {
    background-color: var(--background-secondary);
  }
}