#app-mount {
  .tooltip-14MtrL {
    color: var(--text-normal);
    text-align: center;
    font-weight: 600;
  }
  .tooltipPrimary-3qLMbS {
    background: var(--gradient);
    .tooltipPointer-3L49xb {
      display: none;
    }
  }
}