#app-mount {
  .tooltip-2QfLtc {
    color: var(--text-normal);
    text-align: center;
    font-weight: 600;
  }
  .tooltipPrimary-1d1ph4 {
    background: var(--gradient);
    .tooltipPointer-3ZfirK {
      display: none;
    }
  }
}