#app-mount .guilds-2JjMmN {
  background-color: transparent;
  .scrollerBase-_bVAAt {
    background-color: rgba(0,0,0,var(--serverlist-brightness));
    &::-webkit-scrollbar {
      display: none;
    }
  }
}