#app-mount .guilds-1SWlCJ {
  background-color: transparent;
  .scrollerBase-289Jih {
    background-color: rgba(0,0,0,var(--serverlist-brightness));
    &::-webkit-scrollbar {
      display: none;
    }
  }
}