#app-mount .quickswitcher_ac6cb0 {
	box-shadow: none;
	padding: 20px;
	.scrollerOuter-3FLELE {
		margin-top: 10px;
		margin-right: 0;
		border-radius: 3px;
	}
	.scroller_ac6cb0 {
		padding: 10px 5px 10px 10px;
		box-sizing: border-box;
		& > div[style*='width: 100%;'] {
			display: none;
		}
	}
	.protip_ac6cb0 {
		display: none;
	}
}
