#app-mount .userProfileModalOuter_c69a7b {
	background: transparent;

	.userProfileInnerNonPremium-1XjSjn .body-_QAKrE {
		background: var(--background-secondary);
	}
	.userProfileInnerWithBanner-3CJ1Og {
		background: transparent;
		&::before {
			background: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-primary-color) 120px, var(--profile-gradient-secondary-color));
			opacity: 0.25;
		}
	}

	.topSectionNormal-2-vo2m {
		background: var(--background-secondary);
	}
	.topSectionSpotify-1lI0-P {
		background: hsl(var(--discord-spotify) / 0.3);
	}
	.topSectionPlaying-1J5E4n {
		background: var(--gradient-50);
	}
	.topSectionStreaming-1Tpf5X {
		background: rgb(var(--discord-twitch), 0.3);
	}
	.topSectionXbox-3fWLjS {
		background: rgb(var(--discord-xbox), 0.3);
	}
	.svg-2azL_l {
		z-index: 1;
	}
	.body-3ND3kc {
		background: transparent;
	}
	.tabBarContainer-1s1u-z {
		border: none;
	}
	.userInfoSection-2acyCx {
		border: none;
	}
	.connectedAccount-36nQx7 {
		background: var(--background-secondary);
		border: none;
	}
}
