#app-mount .member-3-YXUe {
  &.selected-aXhQR6 {
    .layout-2DM8Md {
      background: var(--gradient);
    }
    .roleColor-rz2vM0 {
      color: var(--text-normal) !important;
    }
    .botTagRegular-2HEhHi {
      background: var(--text-normal);
      color: rgb(var(--gradient-primary));
      margin-top: 0;
    }
    .botText-1526X_ {
      font-weight: 900;
    }
    .premiumIcon-1rDbWQ {
      color: var(--text-normal);
    }
  }
}