#app-mount .member-2gU6Ar {
  &.selected-1-Z6gm {
    .layout-1qmrhw {
      background: var(--gradient);
    }
    .roleColor-rz2vM0 {
      color: var(--text-normal) !important;
    }
    .botTagRegular-2HEhHi {
      background: var(--text-normal);
      color: rgb(var(--gradient-primary));
      margin-top: 0;
    }
    .botText-1fD6Qk {
      font-weight: 900;
    }
    .premiumIcon-1rDbWQ {
      color: var(--text-normal);
    }
  }
}