#app-mount {
	.containerDefault__3187b {
		// Unread
		.modeUnread_f74c03 .link__95dc0 {
			background: var(--foreground);
		}
		// Hover
		.wrapper-1ucjTd:hover .link__95dc0 {
			background: var(--background-modifier-hover);
			.icon_eff5d4 {
				color: var(--interactive-hover);
			}
		}
		// Selected
		&.selected__3b4cb .link__95dc0 {
			background: var(--gradient) !important;
			.icon_eff5d4 {
				color: var(--text-normal);
			}
		}
	}
	.users-i_3-kL {
		background: var(--foreground);
		padding: 0 5px;
		width: auto;
	}
	.total-3tKGEB {
		background: var(--foreground-double);
		padding: 0 5px;
		width: auto;
	}
	.containerUserOver__8b873::after {
		background: var(--gradient-20);
		border: 2px solid rgb(var(--gradient-primary));
	}
}
