#app-mount .sidebar_c48ade {
	border-radius: 0;
	background: rgb(0, 0, 0, var(--left-brightness));
	.container__2637a,
	.privateChannels__35e86,
	.scroller__99e7c {
		background-color: transparent;
	}
	[role='list'] > div[style='width: 100%; height: 84px; visibility: hidden;'] {
		height: 120px !important;
	}
}
