#app-mount .sidebar_a4d4d9 {
	border-radius: 0;
	background: rgb(0, 0, 0, var(--left-brightness));
	.container_ee69e0,
	.privateChannels_f0963d,
	.scroller_c47fa9 {
		background-color: transparent;
	}
	[role='list'] > div[style='width: 100%; height: 84px; visibility: hidden;'] {
		height: 120px !important;
	}
}
