@use '@discordstyles/classes' as *;

#{cls('mount')} {
	//#region Sidebar
	#{cls('sidebar.sidebar')} {
		border-radius: 0;
		background: rgb(0, 0, 0, var(--left-brightness));

		&:after {
			background: transparent;
		}

		#{cls('sidebar.container,sidebar.dms.container,sidebar.dms.scroller')} {
			background-color: transparent;
		}
	
		//FIXME: Document whatever this is
		[role='list'] > div[style='width: 100%; height: 84px; visibility: hidden;'] {
			height: 120px !important;
		}
	
		#{cls('sidebar.sidebarList')} {
			border: none;
		}
	}
	//#endregion Sidebar
}