#app-mount {
	.header-2o-2hj {
		background: transparent;
		box-shadow: none;
	}

	.header_f37cb1 {
		border: none;
	}

	.animatedContainer-1pJv5C {
		-webkit-mask: linear-gradient(rgb(0, 0, 0, 0.9) 60%, rgb(0, 0, 0, 0) 100%) !important;
		top: 48px;
		background: transparent;
	}
}
