#app-mount {
	.panels_c48ade {
		background: transparent;
		.lookFilled__201d5.colorBrand__201d5 {
			background: var(--foreground);
			&:hover {
				background: var(--foreground-double);
			}
			&:active {
				background: var(--foreground-triple);
			}
		}
	}
	.container_e131a9 {
		border-bottom: none;
	}
}
