#app-mount {
	.wrapper_d880dc.minimum_d880dc {
		background: var(--background-secondary);
	}
	.centerButton-3CaNcJ {
		background: var(--foreground);
		&:hover {
			background: var(--foreground-double);
		}
	}
	.controlButton_b6e2f9.leaveButton-2YnTyt {
		background: rgb(var(--discord-red), 0.5);
		&:hover {
			background: rgb(var(--discord-red));
		}
	}
	.quickSelect__540d0 {
		margin-top: 10px;
	}
	// fixed embedded chat button
	.chatButton_dd069c {
		right: 120px;
	}
}
