#app-mount {
	.wrapper_bd2abe.minimum_ebf000 {
		background: var(--background-secondary);
	}
	.centerButton-3CaNcJ {
		background: var(--foreground);
		&:hover {
			background: var(--foreground-double);
		}
	}
	.controlButton_ab2899.leaveButton-2YnTyt {
		background: rgb(var(--discord-red), 0.5);
		&:hover {
			background: rgb(var(--discord-red));
		}
	}
	.quickSelect_ae48d2 {
		margin-top: 10px;
	}
}
