#app-mount {
	.content_a7d72e::before {
		content: none;
	}
	.chat_a7d72e {
		background: rgb(0, 0, 0, var(--middle-brightness));
	}
	.messages-3amgkR {
		background-color: transparent;
		text-shadow: 0 2px 5px rgb(0, 0, 0, var(--text-shadow));
	}
	.newMessagesBar_cf58b5 {
		background: var(--gradient);
		opacity: 1;
		box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
		z-index: 3;
	}
	.jumpToPresentBar_cf58b5 {
		border-radius: 8px;
		background-color: var(--foreground-double);
		backdrop-filter: blur(10px);
		padding-bottom: 0;
		bottom: 10px;
		&:hover {
			background-color: var(--foreground-triple);
		}
	}
}
