#app-mount .divider_fc5f50 {
	border: none;
	.content_fc5f50 {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		color: var(--text-muted);
		&::before,
		&::after {
			content: '';
			flex: 1;
			height: 1px;
			display: block;
			background: var(--background-modifier-accent);
		}
		&::before {
			margin-right: 10px;
		}
		&::after {
			margin-left: 10px;
		}
	}
	&.isUnread_fc5f50 {
		border-top: 1px solid rgb(var(--discord-red));
	}
}
