#app-mount {
	.container-3wLKDe {
		background: transparent;
	}
	.container_f369db {
		background: var(--background-secondary);
	}
	.header_f369db {
		background: var(--background-secondary);
		.title-1v5ZfI {
			background: transparent;
		}
	}
	.pill_a2c9e8 {
		background: var(--foreground);
		transition: 0.15s ease background;
		&:hover {
			background: var(--foreground-double);
		}
	}
}
