#app-mount {
	.cozy_f9f2ca .header-23xsNx {
		margin-left: 0;
		padding-left: 0;
	}
	.message_ddcc45 {
		background: transparent;
		box-shadow: none;
	}
	// Attachments,pings,codeblocks ect...
	.message_d5deea {
		background: transparent !important;
		.reaction_f61c73 {
			background: var(--foreground);
			&.reactionMe_f61c73 {
				background: var(--gradient);
				.reactionCount_f61c73 {
					color: var(--text-normal);
				}
			}
		}
		.wrapper_f7e168 {
			background: var(--background-secondary);
		}
		.attachment-33OFj0,
		.wrapperAudio-1jDe0Q,
		code {
			background-color: var(--chat-embed);
			border: none;
		}
		.embedFull-2tM8-- {
			background-color: var(--chat-embed);
		}
	}
	.hljs {
		color: var(--text-default);
	}
	// Mentions
	.mentioned_d5deea {
		background: var(--gradient-20) !important;
		&::before {
			background: var(--gradient);
		}
	}
	.wrapper_d4fa29 {
		background: var(--gradient);
		color: var(--text-normal);
	}
	.popoverReactionHoverBar_e986d9 {
		backdrop-filter: blur(6px);
	}
}
