#app-mount {
	.cozy_c19a55 .header-23xsNx {
		margin-left: 0;
		padding-left: 0;
	}
	.message__89466 {
		background: transparent;
		box-shadow: none;
	}
	// Attachments,pings,codeblocks ect...
	.message__5126c {
		background: transparent !important;
		.reaction__23977 {
			background: var(--foreground);
			&.reactionMe__23977 {
				background: var(--gradient);
				.reactionCount__23977 {
					color: var(--text-normal);
				}
			}
		}
		.wrapper_f7ecac {
			background: var(--background-secondary);
		}
		.file__0ccae,
		.wrapperAudio_cf09d8,
		code {
			background-color: var(--chat-embed);
			border: none;
		}
		.embedFull__623de {
			background-color: var(--chat-embed);
		}
	}
	.hljs {
		color: var(--text-default);
	}
	// Mentions
	.mentioned__5126c {
		background: var(--gradient-20) !important;
		&::before {
			background: var(--gradient);
		}
	}

	//Username or channel mention
	.wrapper_f61d60 {
		background: var(--gradient);
		color: var(--text-normal);
	}

	.popoverReactionHoverBar_f84418 {
		backdrop-filter: blur(6px);
	}
}
