#app-mount {
	.cozy_f5c119 .header-23xsNx {
		margin-left: 0;
		padding-left: 0;
	}
	.message_ff43e6 {
		background: transparent;
		box-shadow: none;
	}
	// Attachments,pings,codeblocks ect...
	.message_ccca67 {
		background: transparent !important;
		.reaction_ef7e09 {
			background: var(--foreground);
			&.reactionMe__9fc5c {
				background: var(--gradient);
				.reactionCount_b780c8 {
					color: var(--text-normal);
				}
			}
		}
		.wrapper__4e6b6 {
			background: var(--background-secondary);
		}
		.attachment-33OFj0,
		.wrapperAudio-1jDe0Q,
		code {
			background-color: var(--chat-embed);
			border: none;
		}
		.embedFull-2tM8-- {
			background-color: var(--chat-embed);
		}
	}
	.hljs {
		color: var(--text-default);
	}
	// Mentions
	.mentioned_fa6fd2 {
		background: var(--gradient-20) !important;
		&::before {
			background: var(--gradient);
		}
	}
	.wrapper_f5f4c9 {
		background: var(--gradient);
		color: var(--text-normal);
	}
}
