#app-mount [aria-label*="SETTINGS"] {
  .sidebarRegionScroller-FXiQOh {
    background-color: rgba(0,0,0,var(--left-brightness));
  }
  .multiInput-1e2xJ7 .input-2g-os5 {
    background: transparent;
  }
  .description-3_Ncsb,
  .h5-18_1nd:not(.isEnabled-2qCZy8),
  .labelDescriptor-1PqHgD,
  .viewBody-2Qz-jg {
    color: var(--text-normal);
  }
}