#app-mount {
	.info-1sUqUG .colorMuted-20987_:first-child:before {
		content: var(--version);
		display: block;
	}

	// Audit log
	.contentRegion-3HkfJJ {
		background: rgba(0,0,0,var(--middle-brightness));
	}
	.auditLog-3jNbM6 {
		border: none;
		border-radius: 3px;
		overflow: hidden;
	}
	.header-GwIGlr {
		background: var(--background-secondary);
	}
	.timestamp-1mruiI {
		color: var(--text-muted);
	}
	.divider-1pnAR2 {
		display: none;
	}
	.changeDetails-bk98pu {
		background: var(--background-secondary);
	}
}