#app-mount .autocomplete_bcc24e {
	box-shadow: none;
	.selectorSelected-1_M1WV {
		background: var(--foreground);
	}
	.divider_bcc24e {
		background-color: var(--foreground);
	}
	.description-11DmNu,
	.descriptionUsername-J_75O8 {
		color: var(--text-normal);
	}
	.descriptionDiscriminator_bcc24e {
		color: var(--text-muted);
	}
}
