#app-mount .autocomplete_df266d {
	box-shadow: none;
	.selectorSelected-1_M1WV {
		background: var(--foreground);
	}
	.divider__87f51 {
		background-color: var(--foreground);
	}
	.description-11DmNu,
	.descriptionUsername-J_75O8 {
		color: var(--text-normal);
	}
	.descriptionDiscriminator__158a4 {
		color: var(--text-muted);
	}
}
