#app-mount .autocomplete__743a5 {
	box-shadow: none;
	.selectorSelected-1_M1WV {
		background: var(--foreground);
	}
	.divider__20bfc {
		background-color: var(--foreground);
	}
	.description-11DmNu,
	.descriptionUsername-J_75O8 {
		color: var(--text-normal);
	}
	.descriptionDiscriminator__5f9f8 {
		color: var(--text-muted);
	}
}
