#app-mount {
	//Stuff that should ONLY apply to dedicated emoji/sticker/gif picker
	.drawerSizingWrapper__08434 {
		--frostedglass-emojipicker-header-brightness: 50%;

		right: 0;
		position: absolute !important;

		.nav__08434 {
			padding: 0 0 5px 13px;
			z-index: 999;
		}

		.navList__08434 {
			padding-top: 12px;
		}

		[class*='searchBar'] {
			background: var(--background-secondary);
		}
		.contentWrapper__08434 {
			display: grid;
			border: none;
			box-shadow: none;
			padding-top: 0px;
			grid-template-rows: auto 1fr;
			grid-row-gap: 0px;
			background: transparent;
		}
		[aria-selected='true'] .navButton__08434 {
			background: var(--gradient);
		}
		.navButton__08434 {
			background: var(--foreground);
			padding: 6px 5px 7px;
		}
		// GIFs
		.categoryFadeBlurple_d02962 {
			background: var(--gradient-90);
		}
		.focused-q9B2e4::after,
		.result-3OpoO7:hover::after {
			box-shadow: inset 0 0 0 2px rgb(var(--gradient-primary));
		}
		.result-3OpoO7 {
			background-color: var(--foreground) !important;
		}


		//Cursed sticker bullsht, why is there a inset, why is it entirely different?
		//Have to set it to 0 explicitly otherwise stuff breaks and now i have to also
		//add more padding, i am not sure why it differs greatly from the emoji tab
		//Watch out with forcing insets though, this could cause spasming and flickering if forced when its JS controlled
		//Sticker category header ie: Frequently Used, PACK NAME
		.thin_d125d2 .listItems_affa7e {
			left: 0px !important;
			.row_c6367b {
				//Set the padding left just like on emojis
				margin-left: 8px;
			}
		}
	}

	//Stuff that should only apply to emoji/gif/sticker picker
	.emojiPicker_c0e32c, .wrapper__8ef02 {
		box-shadow: none;
		background: transparent;

		&::before {
			box-shadow: none;
			filter: blur(10px);
		}
	}

	//Stuff that should only apply to the super reaction picker
	.appAsidePanelWrapper_a3002d .layerContainer_da8173 .clickTrapContainer_da8173 .layer_da8173 > div:has(.isBurstReactionPicker_c0e32c) {
		//Set back discord stupid super react effect but on a different layer because otherwise we cannot use a proper background
		box-shadow: 0 0 0 2px var(--bg-brand);
		border-radius: var(--custom-emoji-picker-border-radius);

		&::before {
			box-shadow: 0 0 100px var(--bg-brand);
			border-radius: var(--custom-emoji-picker-border-radius);
			content: "";
			height: 100%;
			opacity: .5;
			pointer-events: none;
			position: absolute;
			width: 100%;
		}
	}

	//Stuff that should only apply to the reaction picker
	.appAsidePanelWrapper_a3002d .layerContainer_da8173 .clickTrapContainer_da8173:not(:has(.emojiPickerHasTabWrapper_c0e32c)) #emoji-picker-tab-panel {
		.categoryList_c0e32c {
			top: 68px;
		}
	}

	.isBurstReactionPicker_c0e32c {
		&::before {
			//Undo discord its .5 opacity
			opacity: 1;
		}
	}

	//Stuff that should apply to reaction AND emoji/gif/sticker picker
	.emojiPicker_c0e32c,
	.wrapper__8ef02,
	#emoji-picker-tab-panel,
	.drawerSizingWrapper__08434 {
		animation: fadeIn 0.3s ease forwards;
		[class*='header'] {
			box-shadow: none;
		}

		.wrapper__14245, .wrapper__4e6ce {
			background: var(--background-secondary);
			// backdrop-filter: blur(10px) brightness(var(--frostedglass-emojipicker-header-brightness));

			&::after{
				content: none;
			}
		}
		.searchBar_c0e32c {
			background: var(--background-secondary);
		}

		.inspector_aeaaeb {
			border: none;
			background: var(--background-secondary);
			// backdrop-filter: brightness(var(--frostedglass-emojipicker-header-brightness));
		}

		.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c,
		.categoryList__3ad28 {
			//This crime has to be done because discord thought it was a good idea to create a grid for the elements but have
			//one of those items live outside of the actual grid and instead absolute/relative position it into a cell
			//literally why
			top: 52px;
		}

		.unicodeShortcut_b9ee0c,
		.standardStickerShortcut__3ad28 {
			border: none;
			background: var(--background-primary);
		}

		.categoryList_c0e32c,
		.categoryList__3ad28 {
			background: var(--background-secondary);
			// backdrop-filter: brightness(var(--frostedglass-emojipicker-header-brightness));

			.scroller_affa7e {
				height: calc(100% - var(--custom-emoji-picker-constants-unicode-category-shortcut-height));
			}
		}

		.categoryList_c0e32c:has(.unicodeShortcutInvisible_b9ee0c),
		.categoryList__3ad28:not(:has(.standardStickerShortcut__3ad28)){
			.scroller_affa7e {
				height: 100%;
			}
		}

		.container_fed6d3 {
			background: var(--background-primary);
		}

		.header_c0e32c, .header__8ef02, .header_fed6d3 {
			border-radius: 0px;
			border: none;
			background: var(--background-secondary);
			// backdrop-filter: brightness(var(--frostedglass-emojipicker-header-brightness));
		}

		.header__14245 {
			background: rgb(0, 0, 0, 0.6);
			padding: 2px;
			border-radius: 3px;
		}

		.container_a45028{
			border: none;
		}

		// Emoji
		.emojiItemSelected_fc7141 {
			background: var(--foreground-double);
		}
		.nav__08434 {
			background: var(--background-secondary);
		}
		.navItem__08434 {
			color: var(--text-normal);
		}

		.diversitySelectorOptions_a45a2a {
			background: var(--background-secondary);
		}
	}
}