#app-mount {
	.container-enaOkj {
		background: var(--background-secondary);
		margin: 0 10px 10px;
		border-radius: 3px;
		padding: 0;
		overflow: hidden;
	}
	.channelHeader__5d30c {
		background: transparent;
		padding: 15px 15px 0;
		height: auto;
		position: static;
		.tertiary_bc0225,
		.item-3XjbnG.selected-g-kMVV {
			background: var(--foreground);
			&:hover {
				background: var(--foreground-double);
			}
		}
	}
	.container__56e52 {
		margin: 0 16px 16px;
		padding: 0;
		border-radius: 3px;
		box-sizing: border-box;
		background: var(--foreground);
	}
	.messageContainer_aa7d14 {
		padding: 15px 15px 15px 0;
		box-sizing: border-box;
	}
}
