#app-mount {
	.picker-20lcBA {
		border: none;
		background: var(--foreground);
        animation: fadeIn 0.3s ease forwards;

        // Searchbar
        .inner-1NoIT5 {
            background: var(--background-secondary);
        }
	}
}
