#app-mount {
	.picker__09f65 {
		border: none;
		background: var(--foreground);
		animation: fadeIn 0.3s ease forwards;

		// Searchbar
		.inner_fea832 {
			background: var(--background-secondary);
		}
	}
}
