#app-mount {
	.picker_cd703d {
		border: none;
		background: var(--foreground);
		animation: fadeIn 0.3s ease forwards;

		// Searchbar
		.inner_effbe2 {
			background: var(--background-secondary);
		}
	}
}
