#app-mount {
    .topicsPillContainer__0f481 {
        //This should never be highly transparent and no color really matches so we will use a custom one
        background: rgb(0, 0, 0, 0.8);
    }

    .topicsDropdownBase__0f481 {
        border: none;
    }

    .topicsPillCaret__0f481 {
        background: var(--foreground-double);
    }
}
