#app-mount {
  // XenoLib Notifications
  .xenoLib-notifications {
    padding: calc(var(--window-padding) * 2 + 48px) calc(var(--window-padding) * 2) calc(var(--window-padding) * 2) calc(var(--window-padding) * 2);
    box-sizing: border-box;
  }
  .xenoLib-notification:not(:only-child) {
    margin-bottom: 15px;
  }
  .xenoLib-notification-content-wrapper {
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
  }
}